{% extends "_base.njk" %}

{% set thispage = 'edit_profile' %}
{% set pagetitle = 'Edit Profile' %}
{% set animes = ['Naruto', 'OPM', 'MHA', 'AOT'] %}
{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}


{% block pagecontent %}

	<div class = "form">
		<form action = '/' method = 'post'>
			<h3>Edit Profile</h3>
			<div>
				<label for = "id">ID</label>
				<input type="text" placeholder='{{_id}}' id="id" readonly>
			</div>
			<div>
				<label for = "name">Name</label>
				<input type="text" value = '{{name}}' id="name">
			</div>
			<div>
				<label for = "username">Username</label>	
				<input type="text" value = '{{username}}' id="username">
			</div>
			<div>
				<label for = "password">Password</label>	
				<input type="password" value = '{{password}}' id="password">
			</div>
			<div class='checkbox-holder'>
				{% for sauce, signedUp in signedUpFor %}	
					{% if sauce in animes %}
					<div>
						<label for="{{ sauce }}">{{ sauce }}</label>
						<input type="checkbox" class="quiz" id="{{ sauce }}" {{ 'checked' if signedUp }}>
					</div>
					{% endif %}
				{% endfor %}
			</div>
			<button type = "button" onclick = "editProfile()">Edit Profile</button>
		</form>
	</div>

{% endblock %}

{% block customcss %}
	<style media="screen">
		label{
			padding : 0px,0px;
		}
		.form{
			margin: 7vh auto;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		form{
			height: auto;
			width: 400px;
			background-color: rgba(255,255,255,0.13);
			border-radius: 10px;
			backdrop-filter: blur(5px);
			border: 2px solid rgba(255,255,255,0.1);
			box-shadow: 0 0 40px rgba(8,7,16,0.6);
			padding: 23px 25px;
		}
		form *{
			font-family: 'Poppins',sans-serif;
			color: #ffffff;
			letter-spacing: 0.5px;
			outline: none;
			border: none;
		}
		form h3{
			font-size: 32px;
			font-weight: 500;
			line-height: 42px;
			text-align: center;
			margin-bottom:35px;
		}

		input{
			display: block;
			height: 45px;
			width: 90%;
			background-color: rgba(255,255,255,0.07);
			border-radius: 12px;
			padding: 4px 20px 4px 14px;
			margin-top: 12px;
			margin-bottom : 12px;
			font-size: 17px;
			font-weight: 300;
		}

		#id::placeholder{
			color : grey;
		}
		::placeholder{
			color: #e5e5e5;
			font-family:Ubuntu,Roboto,Arial,Open Sans,sans-serif;
			font-size:20px;
		}
		button{
			margin-top: 19px;
			width: 75%;
			background-color: var(--red);
			color: white;
			padding: 15px 0;
			font-size: 18px;
			font-weight: 600;
			border-radius: 12px;
			cursor: pointer;
		}
		.checkbox-holder {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
		}
		.checkbox-holder input {
			width: 45px;
		}
	</style>
{% endblock %}

{% block customjs %}
	<script>
		
	</script>
{% endblock %}
