{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}

{% extends "_base.njk" %}

{% set thispage = 'edit_profile' %}
{% set pagetitle = 'Edit Profile' %}

{% block pagecontent %}

	<div class = "form">
		<form action = '/' method = 'post'>
			<h3>Edit Profile</h3>
			<div>
				<label for = "id">ID</label>
				<input type="text" placeholder='{{_id}}' id="id" readonly>
			</div>
			<div>
				<label for = "name">Name</label>
				<input type="text" value = '{{name}}' id="name">
			</div>
			<div>
				<label for = "username">Username</label>	
				<input type="text" value = '{{username}}' id="username">
			</div>
			<div>
				<label for = "password">Password</label>	
				<input type="text" value = '{{password}}' id="password">
			</div>
			<div class='checkbox-holder'>
				{% for sauce, signedUp in signedUpFor %}	
					<label for="{{sauce}}">{{sauce}}</label>
					<input type="checkbox" class="quiz" id="{{sauce}}" checked="{{signedUp}}">
				{% endfor %}
			</div>
			<button type = "button" onclick = "editProfile()">Edit Profile</button>
		</form>
	</div>

{% endblock %}

{% block customcss %}
	<style media="screen">
		label{
			padding : 0px,0px;
		}
		.form{
			margin-bottom:40rem;
		}
		form{
			height: auto;
			width: 400px;
			background-color: rgba(255,255,255,0.13);
			position: absolute;
			transform: translate(-50%,-50%);
			top: 50%;
			left: 50%;
			border-radius: 10px;
			backdrop-filter: blur(5px);
			border: 2px solid rgba(255,255,255,0.1);
			box-shadow: 0 0 40px rgba(8,7,16,0.6);
			padding: 23px 25px;
		}
		form *{
			font-family: 'Poppins',sans-serif;
			color: #ffffff;
			letter-spacing: 0.5px;
			outline: none;
			border: none;
		}
		form h3{
			font-size: 32px;
			font-weight: 500;
			line-height: 42px;
			text-align: center;
			margin-bottom:35px;
		}

		input{
			display: block;
			height: 50px;
			width: 90%;
			background-color: rgba(255,255,255,0.07);
			border-radius: 12px;
			padding: 0 20px 4px;
			margin-top: 12px;
			margin-bottom : 12px;
			font-size: 17px;
			font-weight: 300;
		}
		::placeholder{
			color: #e5e5e5;
			font-family:Ubuntu,Roboto,Arial,Open Sans,sans-serif;
			font-size:20px;
		}
		button{
			margin-top: 19px;
			width: 75%;
			background-color: var(--red);
			color: white;
			padding: 15px 0;
			font-size: 18px;
			font-weight: 600;
			border-radius: 12px;
			cursor: pointer;
		}
	</style>
{% endblock %}

{% block customjs %}
	<script>
		const axios = require('')
		function editProfile(){
			console.log('Sending POST request');
			axios.post('/edit_profile',{
				_id,
				name,
				username,
				password,
				signedUpFor
			}).then(() => {
				console.log('Edited User Data Successfully');
				window.location.href = '/';
			}).catch(err => console.log(err));
		}
	</script>
{% endblock %}