{% extends '../_base.njk' %}

{% set thispage = 'show-answers' %}
{% set pagetitle = 'Quiz Solutions' %}


{% block customjs %}
	<script>
		const qs = {{ questions | safe }};
		function generateHTML (components) {
			return components.map(component => {
				switch (component.type) {
					case 'image':
						return `<img src="${component.value}" class="option-image" style="${component.style || ''}"/>`;
					case 'mp3':
						return `<audio src="${component.value}" type="audio/mpeg"> </audio>`;
					case 'title':
						return `<h3>${component.value}</h3>`;
					case 'gallery': {
						const images = components.value.map(img => `<img src="${img.src}" class="gallery-image">`).join('');
						return `<div style="display: flex; flex-direction: row; flex-wrap: wrap;"> ${images} </div>`;
					}
					case 'paragraph': 
						return `<i>${component.value}</i>`;
					case 'table':
						// needs to be fixed
						return component.value;
					default:
						return component.value;
				}
			}).join('<br/>');
		}
		
		window.onload = () => {
			[...Array(qs.length)].forEach((_, i) => {
				document.getElementById(`question-${i + 1}`).innerHTML = generateHTML(qs[i].q);
				if (qs[i].options.type === 'mcq') {
					document.getElementById(`question-${i + 1}`).parentElement.innerHTML += '<div style="font-weight: bold; text-align: left;">Options:</div><div class="option-container">' + 
						qs[i].options.value.map((e, i) => `<div class="option">${i + 1}: ${generateHTML(e)}</div>`).join('') + '</div';
					document.getElementById(`option-${i + 1}`).innerHTML += ' ' + generateHTML(console.log() ?? qs[i].options.value[qs[i].solution - 1]);
				}
			})
		}
	</script>
{% endblock %}

{% block customcss %}
		<style>
			.solution_container {
				border: solid white 3px;
				border-radius: 5px;
				height: auto;
				width: 80%;
				margin: 8px auto;
				display: flex;
				flex-direction: column;
				align-items: baseline;
				padding: 10px 5%;
			}

			.question-container{
				display: flex;
				flex-direction: column;
				align-items: baseline;
				row-gap: 2px;
			}

			.option-container {
				display: flex;
				padding: 0px 20px;
				flex-direction: column;
				align-items: baseline;
				row-gap: 2px;
			}

			div[id^='question-'] {
				width: 90%;
				margin: 10px auto;
			}

			div[id^='question-'] i {
				display: block;
				width: 80%;
				margin: 10px auto;
			}

			.question-container{
				width: 90%;
				margin: 0 auto;
			}

			.solution {
				text-align: left;
				margin: 5px auto;
				width: 90%;
				padding: 0; 
			}
			
			table img {
				min-width: 10vw;
				min-height: 10vh;
				max-width: 25vw;
				max-height: 20vh;
			}

			table td {
				padding: 5px 30px;
			}
			
			table {
				margin: 10px auto;
			}
		</style>
{% endblock %}

{% block pagecontent %}
	<div class = "header"><h3>Answers to the {{ quizQuestions[0]._id }} Quiz</h3><br></div>
	{% for question in quizQuestions %}
		<div class = "solution_container">
			<div class = "question-container">
				<h3>{{ question.number }}</h3>
				<div id="question-{{ question.number }}"></div>
			</div>
			<div class = "solution">
				{% if question.options.type == 'mcq' %} 
					<p id = "option-{{ question.number }}" onload = ""><b>Answer(s):</b> {{ question.solution }}: </p>
				{% else %}
					<p><b>Answer(s):</b> {{ question.solution }}</p> 
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
