{% extends '../_base.njk' %}

{% set thispage = 'show-answers' %}
{% set pagetitle = 'quiz solutions' %}



{% block pagecontent %}
    <div class = "header"></div>
	{% for question in quizQuestions %}
        <div class = "solution_container">
            <div class = "question-number">
                <h3>{{ question.number }}</h3>
            </div>
            <div class = "solution">
                {% if question.options.type == 'mcq' %} 
                    <p class = "solution">{{ question.options.value[question.solution-1] }}</p>
                {% else %}
                    <p class = "solution">{{ quesiton.solution }}</p>
                {% endif %}
                </div>
        </div>
    {% endfor %}
{% endblock %}

{% block customcss %}
        <style>
            .solution_container {
                border: solid white 3px;
                border-radius: 5px;
                height: auto;
                width: auto;
                display: flex;
                flex-direction: row;
                margin-block: 10px;
            }
        </style>
{% endblock %}