{% extends '_base.njk' %}

{% set thispage = 'home' %}
{% set pagetitle = 'Quad Anime Trivia Quiz' %}

{% set buttonlinks = [{
	name: 'Events',
	href: '/events'
}, {
	name: 'Register',
	href: '/signup'
}, {
	name: 'Profile',
	href: '/profile'
}, {
	name: 'Main Website',
	href: 'https://www.kgpmask.club'
}] %}

{% set shirts = ['naruto', 'aot', 'opm', 'mha'] %}

{% block pagecontent %}
	<div class="notification-banner" id='notif'>「 {{ 'Limited seats only. Register quickly!' if timevalue > 0 else 'Online registration closed. Only on-site registrations available.' }} 」</div>
	<div id="count" class="notification-banner"></div>
	<hr style="width: 90%; margin: auto;">
	<div class="text" style='max-width: 70%; text-align: center; margin: 45px auto 15px;'>
		<p style="font-size: 1.3em;">Welcome to the <b>Quad Anime Trivia Quiz</b>, hosted by Manga & Anime Society Kharagpur.<br/></p>
		<br/>
		<p style="text-align: justify;">We have four quizzes in store for you. The quizzes and their times are given below.</p>
		<ul style="text-align: justify; margin-top: 5px;">
			<li>3:00 PM&nbsp;| <b>One Punch Man:</b> Up to, and including, Season 2</li>
			<li>3:40 PM&nbsp;| <b>My Hero Academia:</b> Up to, and including, Season 5</li>
			<li>4:20 PM&nbsp;| <b>Attack On Titan:</b> Up to, and including, Season 4 - Part 2</li>
			<li>5:00 PM&nbsp;| <b>Naruto:</b> Complete Naruto and Shippuden</li>
		</ul>
		<br/>
		<h3 style="text-align: justify; margin: 5px;">Quiz Instructions</h3>
		<ul class="list-of-rules">
			<li>The registration fee <u><b>for each quiz</b></u> is <b>₹{{ '4' if timevalue > 0 else '5' }}0.</b></li>
			<li>You are allowed to register for multiple quizzes using the same user account.</li>
			<li>For further registrations, contact us at the event.</li>
			<li>Note that the entry fee is <b>non-refundable</b>.</li>
			<li>Each quiz will have 20 questions and will last 20 minutes.</li>
			<li><b>The quiz must be attempted using a laptop, so bring your own laptops</b>.</li>
			<li>No extra time will be provided in case of late entry.</li>
			<li>In case of a tie in the number of points, the one who submits the quickest is ranked above the other, irrespective of the start time.</li>
		</ul>
		<br/>
		<h3 style="text-align: justify; margin: 5px;">Prizes</h3>
		<p style="text-align: left; padding: 5px;">Prizes will be provided to the top <b>20%</b> of the participants in each quiz.</p>
		<ul style="text-align: justify; margin-top: 5px;">
			<li><b>First Place:</b> A T-shirt</li>
			<li><b>Second Place:</b> A poster</li>
			<li><b>Third Place:</b> 4 manga panels</li>
			<li><b>All other winners</b> will receive a manga panel each</li>
		</ul>
		<br/>
		<section class="prize-image-container">
			<ul>
				<li><img src="/assets/fandom/prizes/opm.webp"></li>
				<li><img src="/assets/fandom/prizes/mha.webp"></li>
			</ul>
			<ul>
				<li><img src="/assets/fandom/prizes/aot.webp"></li>
				<li><img src="/assets/fandom/prizes/naruto.webp"></li>
			</ul>
		</section>
		<div style="color: var(--error-red); font-size: 110%;">Disclaimer: T-shirt designs are subject to change according to the availability of stock and size.</div>
		<br/>
		<br/>
		<h3 style="text-align: justify; margin: 5px;">Event Details</h3>
		<ul>
			<li><b>Date:</b> 12<sup>th</sup> March 2023 (Sunday)</li>
			<li><b>Venue:</b> Multipurpose Hall, Gymkhana</li>
		</ul>
		<br/>
		<p style="text-align: justify;">In case of any queries, contact us at <a href='mailto:kgpmask@gmail.com'>kgpmask@gmail.com</a>.</p>
	</div>
	<br/>
	<div class="link-container">
		{% for link in buttonlinks %}
			{% if (loggedIn and link.name != 'Register') or (not loggedIn and link.name != 'Profile') %}
				<a class="button-link" href='{{ link.href }}' target='_self'>{{ link.name }}</a>
			{% endif %}
		{% endfor %}
	</div>
	<br/><br/>
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="/assets/styles/home.css"/>
	<style>
		.notification-banner {
			margin: 10px 5%;
			width: 90%
			text-align: center;
			color: var(--error-red);
			font-size: 116%;
			font-weight: bold;
		}

		.link-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 70%;
			margin-left: 15%;
			align-items: center;
			justify-content: center;
		}

		.button-link {
			display: block;
			border: solid 3px var(--off-white);
			margin: 10px;
			border-radius: 12px;
			padding: 15px;
			font-size: 100%;
			transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
			text-decoration: none;
		}

		.button-link:hover {
			color: var(--red);
			background-color: var(--dark-gray);
		}

		section {
			display: flex;
			justify-content: center;
			flex-flow: row wrap;
		}

		section ul {
			display: flex;
			justify-content: center;
			flex-flow: row wrap;
			padding: 0;
			margin: 0;
		}

		section ul li {
			list-style: none;
			padding: 20px;
			margin: 20px;
		}


		li img {
			max-width: 270px;
			max-height: 50vh;
			margin: 5px;
			border-radius: 10px;
		}

		.list-of-rules li, .text li {
			text-align: justify;
			margin-left: 35px;
			line-height: 1.4;
		}
	</style>
{% endblock %}

{% block customjs %}
	<script>
		{% if timevalue > 0 %}
			function timer (timerLength) {
				timeVal = timerLength;
				let cancel = false;
				function endTimer () {
					cancel = true;
				}
				function decrement () {
					if (cancel) return;
					const timeStr = `${Math.floor(timeVal / 3600) % 24}:${Math.floor(Math.floor((timeVal / 60) % 60) / 10)}${Math.floor((timeVal / 60) % 60) % 10}:${Math.floor((timeVal % 60) / 10)}${(timeVal % 60) % 10}`;
					document.getElementById('notif').innerHTML = `「 Registration closes in ${timeStr}. Register soon!!!」`;
					timeVal--;
					if (timeVal >= 0) setTimeout(decrement, 1000);
					else endQuiz();
				}
				decrement();
				return endTimer;
			}
			window.onload = () => {
				if (!{{ loggedIn }}) timer({{ timevalue }});
			};
		{% endif %}
	</script>
{% endblock %}
