{% extends "_base.njk" %}

{% set thispage = 'signup' %}
{% set pagetitle = 'Signup' %}

{% block pagecontent %}
	<br>
	<br>
	<div class="form-container">
		<form action='/' method='post' id="signup">
			<div id="page1" style="display:block;">
				<h3>Signup Here</h3>
				<input type= "text" placeholder="Display name" id="display-name">
				<input type="text" placeholder="Username" id="username">
				<input type="email" placeholder="E-mail address" id="email">
				<br>
				<p style="padding-top: 9px;font-size: 24px;">Select your profile picture</p>
				<div id="images">
					{% for image in images %}
						<>
					{% endfor %}
				</div>
				<br>
				<div class="checkbox_container">
					<div class='checkbox-holder'>
						<input type="checkbox" class="quiz" id="AOT">
						<label for="AOT">Attack on Titan</label>
					</div>
					<div class='checkbox-holder'>
						<input type="checkbox" class="quiz" id="OPM">
						<label for="OPM">One Punch Man</label>
					</div>
					<div class='checkbox-holder'>
						<input type="checkbox" class="quiz" id="NRT">
						<label for="NRT">Naruto</label>
					</div>
					<div class='checkbox-holder'>
						<input type="checkbox" class="quiz" id="MHA">
						<label for="MHA">My Hero Academia</label>
					</div>				
				</div>
				<input type="password" placeholder="Password" id="password"> 
				<button type="button" id="nextpage" onclick="shownextpg()">next</button>
			</div>

			<div id="page2" style="display:none;">
				<img src="../assets/testqr/test.webp" id="UPI" style="border-radius: 8px;">
				<input type="text" placeholder="TransactionID">
			<h4><font family="sans serif">Click on the icons below corresponding to your payment app to find the Transaction ID!</font></h4>
			<div class="upi_icons">
				<img src="../assets/icons/paytm.png" class="icons" height="60px" width="60px" id="paytm" onclick="displaymodal(this)">
				<img src="../assets/icons/gpay.png" class="icons" height="60px" width="60px" id="gpay" onclick="displaymodal(this)">
				<img src="../assets/icons/bhim.png" class="icons" height="60px" width="60px" id="bhim" onclick="displaymodal(this)">
				<img src="../assets/icons/phonepe.png" class="icons" height="60px" width="60px" id="phonepe" onclick="displaymodal(this)">
			</div>
			<button type="button" id="prev" onclick="showprevpg()">previous</button>
			<button id="submit">submit</button>
			</div>
		</form>
			<div class="modal-container">
				<div id="modal">
					<span onclick="closemodal()" class="closespn">×</span><br>
					<img class="modalImage" id="modalimg" style="scale:0.67; translate: 0% -20%;" />
				</div>
			</div>

	</div>

{% endblock %}
 
{% block customcss %}
	<style media="screen">
		.form-container{
			margin-top : 43rem;
			margin-bottom : 63rem;
			display : block;
		}
		
		form{
			display: flex;
			width: 75%;
			max-width: 540px;
			background-color: rgba(255,255,255,0.13);
			position: absolute;
			transform: translate(-50%,-50%);
			top: 50%;
			left: 50%;
			border-radius: 10px;
			backdrop-filter: blur(5px);
			border: 2px solid rgba(255,255,255,0.1);
			box-shadow: 0 0 40px rgba(8,7,16,0.6);
			padding: 12px 25px;
			row-gap: 10px;
		}
		form *{
			font-family:Ubuntu,Roboto,Arial,Open Sans,sans-serif;
			color: #ffffff;
			letter-spacing: 0.5px;
			outline: none;
			border: none;
		}
		form h3{
			font-size: 32px;
			font-weight: 500;
			line-height: 42px;
			text-align: center;
			margin-bottom:35px;
		}

		input{
			height: 50px;
			width: -moz-available;
			width: -webkit-fill-available;
			background-color: rgba(255,255,255,0.07);
			border-radius: 12px;
			padding: 0 20px 4px;
			margin-top: 12px;
			font-size: 17px;

			font-weight: 300;
		}

		.checkbox_container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		.checkbox-holder {
			margin: 5px 20px;
			width: 30%;
		}

		.checkboxes{
			display : inline;
			height: 10px;
		}
		::placeholder{
			color: #e5e5e5;
			font-family:Ubuntu,Roboto,Arial,Open Sans,sans-serif;
			font-size:20px;
		}
		button{
			margin-top: 19px;
			width: 44%;
			background-color: var(--red);
			color: white;
			padding: 12px 0;
			font-size: 18px;
			font-weight: 600;
			border-radius: 12px;
			cursor: pointer;
			display=inline;
			align-items:right;
			margin-right : 9px;
			margin-left : 9px;
		}

		#images{
			padding : 11px 4px 0px 0px;
		}
		.profile_picture{
			height : 82px;
			border-radius : 14px;
		}

		.profile_picture:hover{
			transform : scale(1.1);
		}

		#modal {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.9);
		}
		
		.closespn{
			position: absolute;
			translate: 2200% -128%;
			transform: scale(3);
			font-weight: bold;
		}

		.upi_icons{
			padding-top:15px;
		}
		.icons{
			padding:0px 5px;
			border-radius :20px;
		}
		
		h4{
			padding-top:12px;
		}

		.modalImage{
			border-radius:15px;
		}
	</style>
{% endblock %}



{% block customjs %}
	<script>
		
		function shownextpg () {
			document.getElementById('page1').style.display = 'none';
			document.getElementById('page2').style.display = 'block';
			document.getElementById('signup').style.width = '362px';
		}

		function showprevpg () {
			document.getElementById('page2').style.display = 'none';
			document.getElementById('page1').style.display = 'block';
			document.getElementById('signup').style.width = '522px';

		}


		function displaymodal (element) {
			document.getElementById('modalimg').src = '../assets/transactionpages/' + element.id + '.png';
			document.getElementById('modal').style.display = 'block';
		};
		
		function closemodal () {
			// console.log('close');
			document.getElementById('modal').style.display = 'none';
		}
		
	</script>
{% endblock %}
