{% extends "_base.njk" %}

{% set thispage = 'login' %}
{% set pagetitle = 'Login' %}

{% block pagecontent %}

	<div class = "form">
		<form action = '/' method = 'post' id = "signup">
        <h3>Signup Here</h3>
		<input type= "text" placeholder = "display name" id = "display-name">
        <input type="text" placeholder="Username" id="username">

        <input type="email" placeholder="E-mail adress" id="email"><br>
		<div class = "checkboxes">
			
		</div>
		<button id = "get_pics" onclick = "show()">choose your pfp</button>
		<div id = "images" style = "display:none;">
			<img src = "../assets/members/22_jai.webp" id = "img1" onclick = "">
			<img src = "../assets/members/22_ankan.webp" id = "img2">
			<img src = "../assets/members/21_vidunram.webp" id = "img3">
			<img src = "../assets/members/22_sahil.webp" id = "img4">
			<img src = "../assets/members/22_snehansh.webp" id = "img5">
		</div>
		<input type = "password" placeholder = "Password" id = "password"> 
        <button id = "register">Register</button>
		</form>
	</div>

{% endblock %}
 
{% block customcss %}
	<style media="screen">

		form{
			height: 50%;
			width: 60%;
			background-color: rgba(255,255,255,0.13);
			position: absolute;
			transform: translate(-50%,-50%);
			top: 50%;
			left: 50%;
			border-radius: 10px;
			backdrop-filter: blur(5px);
			border: 2px solid rgba(255,255,255,0.1);
			box-shadow: 0 0 40px rgba(8,7,16,0.6);
			padding: 23px 25px;
		}
		form *{
			font-family:Ubuntu,Roboto,Arial,Open Sans,sans-serif;
			color: #ffffff;
			letter-spacing: 0.5px;
			outline: none;
			border: none;
		}
		form h3{
			font-size: 32px;
			font-weight: 500;
			line-height: 42px;
			text-align: center;
			margin-bottom:35px;
		}

		input{
			height: 50px;
			width: 90%;
			background-color: rgba(255,255,255,0.07);
			border-radius: 12px;
			padding: 0 20px 4px;
			margin-top: 12px;
			font-size: 17px;

			font-weight: 300;
		}
		.checkboxes{
			display : inline;
		}
		::placeholder{
			color: #e5e5e5;
			font-family:Ubuntu,Roboto,Arial,Open Sans,sans-serif;
			font-size:20px;
		}
		button{
			margin-top: 19px;
			width: 75%;
			background-color: var(--red);
			color: white;
			padding: 15px 0;
			font-size: 18px;
			font-weight: 600;
			border-radius: 12px;
			cursor: pointer;
		}
		#images{
			padding : 11px 4px 0px 0px;
		}
		img:hover{
			transform : scale(1.1);
		}
		
    </style>	
{% endblock %}



{% block customjs %}
	<script>
		function show(){
			document.getElementById("images").style.display = "block";
			document.getElementById("signup").style.height = "59%";
		}
	</script>
{% endblock %}