{% extends "../_base.njk" %}

{% set thispage = 'about' %}
{% set pagetitle = 'Fandom Info' %}

{% block pagecontent %}
	{% include './instructions.njk' %}
{% endblock %}

{% block customcss %}
	<style>
		p {
			text-align: justify;
		}
	</style>
{% endblock %}
