{% extends "_base.njk" %}

{% set thispage = 'about' %}
{% set pagetitle = 'Fandom Info' %}

{% block pagecontent %}
	<h1>QUAD ANIME TRIVIA QUIZ</h1>
	<div class="text" style="text-align: left;">
		<p style="margin: 8px 0px;">
			こんにちは！ This section is currently being updated. See you later.
		</p>
	</div>
{% endblock %}

{% block customcss %}
	<style>
		p {
			text-align: justify;
		}
	</style>
{% endblock %}
