<div class = "text" style = "text-align:left">
	<h2 style="width: 85%; margin: 10px auto; text-align: center; text-decoration: underline;">Instructions</h2>
	<ul style="padding: 5px 40px;">
		<li>The total duration for the quiz is 20 minutes. There are 20 questions.</li>
		<li>There are three different types of questions:</li>
			<ul style="padding: 5px 40px;">
				<li><b>MCQ:</b> You'll have to choose one of the four options given.</li>
				<li><b>Text:</b> The answer will be filled in a text field provided for the same.</li>
				<li><b>Number:</b> The answer will be filled in a text field. The accepted answers are only integers.</li>
			</ul>
		{# <li>Each question has</li> #}
		<li>There is no back navigation allowed.</li>
		<li>Reloading the quiz can result in reduction of the timer.</li>
		<li>In case of equal points, the tie-breaker will be the time of submission, irrespective of the beginning time.</li>
	</ul>
	<br>
	In case of any issue or difficulty, feel free to contact the invigilators on the scene.</li>
</div>